@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900¬display=swap');

**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ' Poppins',sans-serif;

}
.contactUs{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contactUs .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactUs .title h2{
    color: #fff;
    font-weight: 500;
}

.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
}

.contact h3{
    color:#161815;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.form{
    grid-area: form;
}

.formBox .row50{
    display:flex;
    gap: 20px;

}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox{
    width: 100%;
}

.inputBox span{
    color: #161815;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;

}

.inputBox input{
    padding: 10px;
    font-size: 1.1em;
    outline:none;
    border: 1px solid #161815;
}

.inputBox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #161815;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputBox input[type="submit"]{
    background: #111111;
    color:#fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor:pointer;
    padding: 14px 15px;
}
.contactinfo {
    background: #010222;
}
.info h3{
    color: #050505;
}

.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    color:#fff;
    background: #161815;
}

.info{
    grid-area: info;
}

.map{
    padding: 0;
    grid-area: map;
}
.map iframe{
    width:100%;
    height: 100%;
}
.contact{
    padding:40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #161815;
}

.section-padding {
    padding: 70px 0;
    
}

.carousel-item{
    height: 80vh;
    min-height: 300px;
    
}

.carousel-caption{
    bottom: 200px;
    z-index: 2;
    
}
.carousel-caption h5{
    font-size: 60px;
    font:bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px ;
    line-height: 1.9;
    
}

.carousel-inner::before{
    content: '';
    
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: rgba(0, 30, 82,0);
    z-index: 1;
}

.navbar-nav a {
    font-size:15px;
    text-transform: uppercase;
    font-weight: 500;
}

.d-img{
    filter: opacity(.3);
}

.floating-cart {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 100px; /* Ajusta el tamaño del botón */
    height: 100px;
    border-radius: 50%;
    background-color: #fdfdfd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Recorta cualquier contenido que exceda los límites del círculo */
}

.floating-cart .btn {
    width: 100px; /* Aumenta el ancho para hacer el círculo más grande */
    height: 100px; /* Aumenta la altura para mantener la forma circular */
    border-radius: 50%;
    background-color: #fdfdfd;
    color: white;
    text-align: center;
    line-height: 60px; /* Centra verticalmente el contenido */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.floating-cart img {
    align-items: center;
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding: 0px;
    object-fit: cover;
}

.floating-cart a{
    display: flex;
    align-items: center;
    justify-content: center;
}

